<header class="d-flex">
  <div class="header--wrapper flex-column flex-sm-row align-items-center">
    <a href="/"
      ><img src="/assets/logo-no-shadow.svg" class="mb-3 mb-sm-0"
    /></a>
    <form
      class="header--searchBox d-flex w-100"
      (ngSubmit)="sendInput()"
      [formGroup]="form"
    >
      <input
        class="header--input"
        formControlName="searchInput"
        id="searchInput"
        type="text"
      />
      <button></button>
    </form>
  </div>
</header>
<div class="content--wrapper" [class.bg]="userList?.items">
  <div class="container">
    <h1 class="content--title d-flex m-auto" *ngIf="userList">
      Resultados para: {{ searchValue }}
    </h1>
    <div class="content--notFound" *ngIf="!userFound">
      Usuário não encontrado!
    </div>
    <app-card [searchValue]="searchValue" [userList]="userList"></app-card>
  </div>
</div>
