header {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
  img {
    height: inherit;
    width: 78px;
    margin: 0 30px 0 0;
  }
  .header--wrapper{
    display: flex;
    width: 100%;
    padding: 10px 40px;
    box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
  }
}

body {
  font-family: Roboto, sans-serif;
}

.header--searchBox {
  max-height: 36px;
  border-radius: 0px 4px 4px 0px;
  width: 100%;
  input {
    max-height: 36px;
    border: 1px solid #e1dfe0;
    border-radius: 4px 0px 0px 4px;
    padding: 15px 10px;
    outline: none;
    width: inherit;
  }
  button {
    padding: 8px;
    background-color: #8c56c2;
    background-image: url('/assets/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 0 4px 4px 0;
    &:hover {
      cursor: pointer;
      background-color: #ad86d3;
      transition: ease-out 100ms;
    }
    &:active {
      box-shadow: 0 2px #666;
      transform: translateY(1px);
      animation: ease;
    }
  }
}

.content--wrapper {
  min-height: 100vh;
  background-image: url('/assets/logo-shadow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vw;
}

.content--title {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px solid #e1dfe0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  padding: 40px 10px 0px 10px;
  }

  .content--notFound{
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
    @media (min-width: 992px){
      text-align: left;
    }
  }

.bg {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ),url('/assets/result-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}




