.card--container{
    padding: 0 0 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(47, 37, 68, 0.25);
    max-width: 25%;
    min-width: 266px;
  }

  .card--userAvatar{
    min-height: 130px;
    border-radius: 10px 10px 0px 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card--userName{
    margin: 0px;
    font-size: 20px;
    color: #2f2544;
    line-height: 21px;
    display: flex;
  }

  .card--infoContainer {
    padding: 10px;
    display: flex;
    min-height: 100px;
    width: 230px;
    word-break: break-word;
    flex-direction: column;
    div {
      margin-bottom: 10px;
    }
  }

  .card--userLink{
    font-size: 14px;
    color: #03cada;
    width: 100%;
    font-weight: 400;
    border: none;
    line-height: 14px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .card--userScore {
  padding-top: 4px;
  margin: 0px;
  font-size: 14px;
  color: #7b6490;
  line-height: 14px;
  display: flex;
  }
