<div class="row">
  <div
    *ngFor="let user of userList?.items"
    class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 d-flex justify-content-center"
  >
    <div class="card--container">
      <div
        class="card--userAvatar"
        [ngStyle]="{ backgroundImage: 'url(' + user.avatar_url + ')' }"
      ></div>
      <div class="card--infoContainer">
        <div class="card--userName">{{ user.login }}</div>
        <div class="card--userLink" (click)="openNewTab(user.html_url)">
          {{ user.html_url }}
        </div>
        <div class="card--userScore">Score: {{ user.score }}</div>
      </div>
      <app-modal-button
        (click)="openDialog(user.url)"
        text="Ver mais"
      ></app-modal-button>
    </div>
  </div>
</div>
