<div class="modal--container">
  <div
    class="modal--userAvatar"
    [ngStyle]="{ backgroundImage: 'url(' + user.avatar_url + ')' }"
  ></div>

  <div class="modal--container__info">
    <div mat-dialog-title class="modal--userName">
      {{ user?.name ? user?.name : user?.login }}
    </div>
    <div mat-dialog-content class="modal--content">
      <div class="modal--container__props">
        <div class="modal--props__leftCol">
          <div class="modal--props__static">Username:</div>
          <div class="modal--props__dyn">{{ user.login }}</div>
          <div class="modal--props__static">Cadastrado(a):</div>
          <div class="modal--props__dyn">
            {{ user.created_at | date: "dd/MM/yyyy" }}
          </div>
          <div class="modal--props__static">URL:</div>
          <a class="modal--props__dyn" href="{{ user.html_url }}">{{
            user.html_url
          }}</a>
        </div>
        <div class="modal--props__rightCol">
          <div class="modal--props__static">Seguindo:</div>
          <div class="modal--props__dyn">{{ user.following }}</div>
          <div class="modal--props__static">Seguidores:</div>
          <div class="modal--props__dyn">{{ user.followers }}</div>
        </div>
      </div>
    </div>
    <div class="modal--btn__container">
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="modal--closeBtn">
          FECHAR
        </button>
      </div>
    </div>
  </div>
</div>
