.modal--userAvatar {
  display: flex;
  min-width: 180px;
  min-height: 180px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  @media (min-width: 576px) {
    min-width: 266px;
    min-height: 266px;
  }
}

.modal--container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.modal--content {
  overflow: hidden;
  padding: 20px;
}
.modal--container__info{
  width: 100%;
  padding: 10px;
  flex-direction: row;
  @media (min-width: 992px){
    margin-left: 10px;
  }
}

.modal--container__props{
  display: flex;
  flex-direction: column;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.modal--userName{
  display: block;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  color: #2f2544;
  border-bottom: 1px solid #e1dfe0;
  width: 100%;
  max-height: 21px;
  justify-content: center;
  @media (min-width: 992px) {
    justify-content: left;
  }
}

.modal--props__static{
  font-size: 14px;
  color: #2f2544;
}

.modal--props__dyn {
  font-size: 14px;
  color: #7b6490;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.modal--btn__container{
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}

.modal--closeBtn{
  border-radius: 3px;
  background: #ffffff;
  color: #8c56c2;
  border: 1px solid #8c56c2;
  height: 36px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    color: #ffffff;
    background: #8c56c2;
    transition: ease-out 100ms;
    cursor: pointer;
  }
  button {
    width: 100%;
  }
}
