footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  max-height: 32px;
  align-self: flex-end;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);
  text-align: center;
  font-size: 14px;
  color: #7b6490;
}
