 
  .card--modalBtn{
    color: #ffffff;
    height: 36px;
    width: 90%;
    background-color: #8c56c2;
    border: none;
    border-color: #8c56c2;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      background-color: #ad86d3;
      cursor: pointer;
      transition: ease-out 100ms;
    }
  }